doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="icon" href="/asset/logo.ico" type="image/x-icon")
    <link rel="shortcut icon" href="/asset/logo.ico" type="image/x-icon">
    title #{locale._global.title}

    each css in cssFiles
      link(type="text/css" rel="stylesheet" href=css)

    block pageCss
  body
    //- header
    div(class="header-container")
      div(class="container")
        nav(class="navbar navbar-expand-lg navbar-light bg-light")
          a(class="navbar-brand" href="#")
            img(src="/asset/logo.svg" height="40" alt="")
          button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")

          div(class="collapse navbar-collapse" id="navbarNavDropdown")
            ul(class="navbar-nav")
              li#home(class="nav-item")
                a(class="nav-link" href="/") #{locale._global.header.home}
                  span(class="sr-only") (current)
              li#update(class="nav-item")
                a(class="nav-link" href="https://medium.com/@gameroot" target="_blank") #{locale._global.header.update}
              li#community(class="nav-item")
                a(class="nav-link" href="/community") #{locale._global.header.community}
              li#career(class="nav-item")
                a(class="nav-link" href="/career") #{locale._global.header.career}
              //- li(class="nav-item dropdown")
              //-   a(class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") #{locale._global.lanUsed}
              //-   div(class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink")
              //-     //- a(class="dropdown-item" href="#") En
              //-     a(class="dropdown-item" href="/zh_cn/index") 中文

    div(class="content")
      block content

    each js in jsFiles
      script(src=js)

    //- footer

    div(class="footer")
      div(class="container")
        img(class="footer-bg" src="/asset/footer_bg.svg")
        div(class="part-title") #{locale._global.footer.title}
        div(class="subscribe-group")
          form#subscribeForm(action=renderOption.mailchimp.subscribeUrl method="post")
            input(class="email-input" name="email" placeholder=locale._global.footer.placeholder)
            a(role="button" onclick="$('#subscribeForm').submit(); return false;" class="btn btn-subscribe") #{locale._global.footer.subscribe}

        div(class="community-group")
          a(href=renderOption.twitter.link)
            img(class="twitter" src="/asset/twitter.svg")
          a(href=renderOption.github.link)
            img(class="github" src="/asset/github.svg")
          a(href=renderOption.facebook.link)
            img(class="facebook" src="/asset/facebook.svg")

        div(class="copyright") Copyright © 2017-2018 Gameroot.io

    block pageScript
