extends ../layout.pug

block pageCss
  if pageCss.index
    link(type="text/css" rel="stylesheet" href=pageCss.index)

block content
  //- section1 overview
  section(class="overview-section")
    div(class="container")
      div(class="overview-content") 
        h2(class="overview-title") #{locale.index.overviewSection.title}
        span(class="overview-subtitle") #{locale.index.overviewSection.subTitle}
        div(class="contact-group")
          div
            a#jumpToSubscribe(role="button" class="btn btn-primary btn-email") #{locale.index.overviewSection.emailBtn}
          span(class="plus-contact")
            span(class="telegram")
              a(href=renderOption.telegram.link target="_blank")
                img(src="/asset/telegram_no_circle.svg")
              span #{locale.index.overviewSection.joinTele}

            a(href=renderOption.twitter.link target="_blank")
              img(src="/asset/twitter.svg")
            a(href=renderOption.github.link target="_blank")
              img(src="/asset/github.svg")
            a(href=renderOption.facebook.link target="_blank")
              img(src="/asset/facebook.svg")
      img(class="overview-img" src="/asset/index_overview.png")

  //- section2 intro
  section(class="intro-section")
    div(class="container")
      div(class="row")
        div(class="intro-group col-sm-12 col-md-6")
          h3(class="title")
            span(class="important") #{locale.index.introSection.title1}
            span #{locale.index.introSection.title2}

          span(class="subtitle") #{locale.index.introSection.subTitle}

          p(class="words")  #{locale.index.introSection.words}
      
        div(class="image-preview col-sm-12 col-md-6")
          img(src="/asset/index_intro.png")
          div(class="annotation-group")
            span(class="annotation-item sdk") #{locale.index.introSection.SDK}
            span(class="annotation-item virtual") #{locale.index.introSection.virtual}
            span(class="annotation-item creator") #{locale.index.introSection.creator}
            span(class="annotation-item game") #{locale.index.introSection.game}
            span(class="annotation-item market") #{locale.index.introSection.market}

  //- section3 value
  section(class="value-section")
    div(class="container")
      div(class="for-player")
        div(class="part-title") #{locale.index.valueSection.forPlayer.partTitle}
        div(class="row")
          div(class="value-item col-sm-12 col-md-4")
            div(class="words-part")
              img(class="pre-image img1" src="/asset/for_player1.png")
              div(class="value-item-title") #{locale.index.valueSection.forPlayer.item1.title}
              div(class="value-item-content") 
                p #{locale.index.valueSection.forPlayer.item1.contentP1}
                p #{locale.index.valueSection.forPlayer.item1.contentP2}

          div(class="value-item col-sm-12 col-md-4")
            div(class="words-part")
              img(class="pre-image img2" src="/asset/for_player2.png")
              div(class="value-item-title") #{locale.index.valueSection.forPlayer.item2.title}
              div(class="value-item-content")
                p #{locale.index.valueSection.forPlayer.item2.content}

          div(class="value-item col-sm-12 col-md-4")
            div(class="words-part")
              img(class="pre-image img3" src="/asset/for_player3.png")
              div(class="value-item-title") #{locale.index.valueSection.forPlayer.item3.title}
              div(class="value-item-content") 
                p #{locale.index.valueSection.forPlayer.item3.contentP1}
                p #{locale.index.valueSection.forPlayer.item3.contentP2}

      div(class="for-developer")
        div(class="part-title") #{locale.index.valueSection.forDeveloper.partTitle}
        div(class="group")
          div(class="row")
            div(class="value-item col-sm-12 col-md-6")
              span(class="pre-image-bg")
                img(class="pre-image" src="/asset/for_devloper1.svg")
              div(class="content")
                div(class="sub-title") #{locale.index.valueSection.forDeveloper.item1.title}
                div(class="describe") #{locale.index.valueSection.forDeveloper.item1.content}

            div(class="value-item col-sm-12 col-md-6")
              span(class="pre-image-bg")
                img(class="pre-image" src="/asset/for_devloper2.svg")
              div(class="content")
                div(class="sub-title") #{locale.index.valueSection.forDeveloper.item2.title}
                div(class="describe") #{locale.index.valueSection.forDeveloper.item2.content}

          div(class="row")
            div(class="value-item col-sm-12 col-md-6")
              span(class="pre-image-bg")
                img(class="pre-image" src="/asset/for_devloper3.svg")
              div(class="content")
                div(class="sub-title") #{locale.index.valueSection.forDeveloper.item3.title}
                div(class="describe") #{locale.index.valueSection.forDeveloper.item3.content}

            div(class="value-item col-sm-12 col-md-6")
              span(class="pre-image-bg")
                img(class="pre-image" src="/asset/for_devloper4.svg")
              div(class="content")
                div(class="sub-title") #{locale.index.valueSection.forDeveloper.item4.title}
                div(class="describe") #{locale.index.valueSection.forDeveloper.item4.content}

  //- section4 creating  TODO
  section(class="creating-section")
    div(class="container")
      div(class="title") #{locale.index.creatingSection.title}
      img(class="we-building-img" src="/asset/we_building_zh_cn.png")

  section(class="roadmap-section")
    div(class="container")
      div(class="section-title") 路线图
      ul(class="timeline")
        each item in locale.index.roadmapSection.timeline
          li(class="timeline-item")
            span(class="time") #{item.time}
            p(class="content") #{item.content}

  //- section5 partner
  section(class="partner-section")
    div(class="container")


block pageScript
  script(src=pageJs.index)